@model Vehicles09.API.Data.Entities.VehicleType

<div class="form-group">
    <label asp-for="Decription" class="control-label"></label>
    <input asp-for="Decription" class="form-control" />
    <span asp-validation-for="Decription" class="text-danger"></span>
</div>